html, body {
	font-family: Verdana;
	margin: 0;
	padding: 0;
}
body {
	/*background: url(/img/MetaRankBottom.png) no-repeat bottom left;*/
}
.meta-logotext {
	color: #00B200;
	font-weight: bold;
}
.rank-logotext {
	color: #000000;
	font-weight: bold;
}

.black-text {
	color: #000000;
}

.orange-text {
	color: #FF7F00;
}

.larger-message {
	font-size: 1.1em;
}

.smaller-message {
	font-size: .9em;
}

.grey-box {
	background-color: rgba(238, 238, 238, .75);
	margin-left: -3em;
	margin-right: -3em;
	padding-left: 3em;
	padding-right: 3em;
}

.green-box {
	background-color: #00B200;
	margin-left: -3em;
	margin-right: -3em;
	padding-left: 3em;
	padding-right: 3em;
}

.green-header {
	background-color: #00B200;
	margin-left: -3em;
	margin-right: -3em;
	padding-left: 3em;
	padding-right: 3em;
	color: #FFFFFF;
	text-shadow: none;
	padding: 1px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
}

.perk-header, .promotion-header {
	background-color: #00B200;
	margin-left: -3em;
	margin-right: -3em;
	padding-left: 3em;
	padding-right: 3em;
	color: #FFFFFF;
	text-shadow: none;
	padding: 1px;
	-webkit-border-top-left-radius: 10px;
	-webkit-border-top-right-radius: 10px;
	-moz-border-radius-topleft: 10px;
	-moz-border-radius-topright: 10px;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
}

.perk-footer, .promotion-footer {
	background-color: #00B200;
	margin-left: -3em;
	margin-right: -3em;
	padding: 1px 1em 1px 1px;
	color: #FFFFFF;
	text-shadow: none;
	
	-webkit-border-bottom-right-radius: 10px;
	-webkit-border-bottom-left-radius: 10px;
	-moz-border-radius-bottomright: 10px;
	-moz-border-radius-bottomleft: 10px;
	border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px;
	text-align: right;
}

.by-line {
	margin-top: 4px;
	font-style: italic;
	font-size: small;
}

.scheduled-perk, .active-perk, .completed-perk, .scheduled-promotion, .active-promotion, .completed-promotion {
	display: table;
	width: 100%;
}

.scheduled-perk table th, .active-perk table th, .completed-perk table th, .scheduled-promotion table th, .active-promotion table th, .completed-promotion table th {
	text-align: left;
	vertical-align: top;
}

.scheduled-perk table td, .active-perk table td, .completed-perk table td, .scheduled-promotion table td, .active-promotion table td, .completed-promotion table td {
	text-align: right;
}

.scheduled-perk-main, .active-perk-main, .completed-perk-main, .scheduled-promotion-main, .active-promotion-main, .completed-promotion-main {
	width: 100%;
}

.scheduled-perk-side, .active-perk-side, .completed-perk-side, .scheduled-promotion-side, .active-promotion-side, .completed-promotion-side {
	width: 10em;
	white-space: nowrap;
}

.scheduled-perk-main, .scheduled-perk-side, .active-perk-main, .active-perk-side, .completed-perk-main, .completed-perk-side, .scheduled-promotion-main, .scheduled-promotion-side, .active-promotion-main, .active-promotion-side, .completed-promotion-main, .completed-promotion-side {
	display: table-cell;
	text-align: left;
	vertical-align: top;
}

.or-bubble {
	position: relative;
	text-align: center;
}

.or-bubble span {
	position: relative;
	bottom: -1em;
	display: inline-block;
	padding: 8px;
	background-color: #FF7F00;
	color: #FFFFFF;
	border-radius: 50%;
}

[data-role=header] {
	text-align: center;
	height: 70px;
	z-index: 1;
}
[data-role=header] img {
	width: 320px;
}
[data-role=page] {
	bottom: 0;
	background-color: transparent;
}

[data-role=footer] {
	box-sizing: border-box;
    font-size: 0.9em;
    line-height: 1.5;
	padding-top:5px;
	padding-bottom:5px;
    padding-left: 15%;
    padding-right: 15%;
}

[role=main] {
	position: absolute;
	top: 70px;
	bottom: 20px;
	left: 0;
	right: 0;
	overflow-y: auto;
	padding:2em 0 2em 0;
}

.content-wrapper {
	margin: auto;
	max-width: 70%;
	color: #888888;
	text-align: center;
	box-sizing: border-box;
	background-color: rgba(246, 246, 246, .75);
	margin-top: 0;
	margin-bottom: 0;
	padding: 1em 3em 1em 3em;
	min-height: 100%;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
}

[data-role=footer] span:last-child {
	display: inline-block;
	float: right;
}

.msform {
	text-align: left;
}

.ui-mobile fieldset:first-of-type {
	margin-top: 1em;
	border-top: 1px solid #888888;
	border-bottom: 1px solid #888888;
	margin-bottom: 1em;
	padding: 1em 0 1em 0;
}
.ui-mobile fieldset {
	border-bottom: 1px solid #888888;
	margin-bottom: 1em;
	padding: 1em 0 1em 0;
}

.bolded {
	font-weight: bold;
}

#status_message {
	margin: auto;
	min-width: 50%;
	max-width: 75%;
}

.info, .success, .warning, .error, .validation {
	border: 1px solid;
	margin: 10px 0px;
	padding:15px 10px 15px 50px;
	text-shadow: none;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
}
.info {
	color: #00529B;
	background-color: #BDE5F8;
}
.success {
	color: #4F8A10;
	background-color: #DFF2BF;
}
.warning {
	color: #9F6000;
	background-color: #FEEFB3;
}
.error {
	color: #D8000C;
	background-color: #FFBABA;
}

#businesses {
	overflow-y: auto;
	max-height: 176px;
}

/* Login Page */
#login_form {
	text-align: left;
}

#recaptcha_area, #recaptcha_table {
	margin: auto !important;
}

/* Account Page */
#account_page table, #manage_account_page table {
	display: inline-block;
	text-align: left;
}

#account_page thead th, #manage_account_page thead th {
	text-align: center;
}

#account_navigation a,
#manage_account_navigation a,
#manage_users_navigation a,
#manage_businesses_navigation a,
#scheduled_perks_navigation a,
#active_perks_navigation a,
#completed_perks_navigation a,
#scheduled_promotions_navigation a,
#active_promotions_navigation a,
#completed_promotions_navigation a,
td a {
	text-decoration: none;
}

#account_navigation .ui-btn,
#manage_account_navigation .ui-btn,
#manage_users_navigation .ui-btn,
#manage_businesses_navigation .ui-btn,
#scheduled_perks_navigation .ui-btn,
#active_perks_navigation .ui-btn,
#completed_perks_navigation .ui-btn,
#scheduled_promotions_navigation .ui-btn,
#active_promotions_navigation .ui-btn,
#completed_promotions_navigation .ui-btn {
	display: inline-block;
	width: 268px;
	margin: auto;
	background-color: #00B200;
	border: 0;
	color: #FFFFFF;
	text-shadow: none;
	font-weight: normal;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
}

td.ui-btn {
	display: inline-block;
	margin: auto;
	background-color: #00B200;
	border: 0;
	color: #FFFFFF;
	text-shadow: none;
	font-weight: normal;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
}

#account_navigation .ui-btn:hover,
#manage_account_navigation .ui-btn:hover,
#manage_users_navigation .ui-btn:hover,
#manage_businesses_navigation .ui-btn:hover,
#scheduled_perks_navigation .ui-btn:hover,
#active_perks_navigation .ui-btn:hover,
#completed_perks_navigation .ui-btn:hover,
#scheduled_promotions_navigation .ui-btn:hover,
#active_promotions_navigation .ui-btn:hover,
#completed_promotions_navigation .ui-btn:hover,
td .ui-btn:hover {
	background-color: #00A900;
}

#account_navigation .ui-btn:active,
#manage_account_navigation .ui-btn:active,
#manage_users_navigation .ui-btn:active,
#manage_businesses_navigation .ui-btn:active,
#scheduled_perks_navigation .ui-btn:active,
#active_perks_navigation .ui-btn:active,
#completed_perks_navigation .ui-btn:active,
#scheduled_promotions_navigation .ui-btn:active,
#active_promotions_navigation .ui-btn:active,
#completed_promotions_navigation .ui-btn:active,
td .ui-btn:active {
	background-color: #00A400;
}

#account_navigation a:last-of-type .ui-btn,
#manage_account_navigation a:last-of-type .ui-btn,
#manage_users_navigation a:last-of-type .ui-btn,
#manage_businesses_navigation a:last-of-type .ui-btn,
#scheduled_perks_navigation a:last-of-type .ui-btn,
#active_perks_navigation a:last-of-type .ui-btn,
#completed_perks_navigation a:last-of-type .ui-btn,
#scheduled_promotions_navigation a:last-of-type .ui-btn,
#active_promotions_navigation a:last-of-type .ui-btn,
#completed_promotions_navigation a:last-of-type .ui-btn {
	background-color: #777777;
}

#account_navigation a:last-of-type .ui-btn:hover,
#manage_account_navigation a:last-of-type .ui-btn:hover,
#manage_users_navigation a:last-of-type .ui-btn:hover,
#manage_businesses_navigation a:last-of-type .ui-btn:hover,
#scheduled_perks_navigation a:last-of-type .ui-btn:hover,
#active_perks_navigation a:last-of-type .ui-btn:hover,
#completed_perks_navigation a:last-of-type .ui-btn:hover,
#scheduled_promotions_navigation a:last-of-type .ui-btn:hover,
#active_promotions_navigation a:last-of-type .ui-btn:hover,
#completed_promotions_navigation a:last-of-type .ui-btn:hover {
	background-color: #6E6E6E;
}

#account_navigation a:last-of-type .ui-btn:active,
#manage_account_navigation a:last-of-type .ui-btn:active,
#manage_users_navigation a:last-of-type .ui-btn:active,
#manage_businesses_navigation a:last-of-type .ui-btn:active,
#scheduled_perks_navigation a:last-of-type .ui-btn:active,
#active_perks_navigation a:last-of-type .ui-btn:active,
#completed_perks_navigation a:last-of-type .ui-btn:active,
#scheduled_promotions_navigation a:last-of-type .ui-btn:active,
#active_promotions_navigation a:last-of-type .ui-btn:active,
#completed_promotions_navigation a:last-of-type .ui-btn:active {
	background-color: #696969;
}

#social_media {
	border-top: 2px solid #000000;
	width: 320px;
	margin: auto;
}
#social_media p {
	font-style: italic;
	font-weight: bold;
	color: #000000;
}

#social_media p:first-of-type {
	text-align: left;
}

#social_media p:last-of-type {
	text-align: center;
}

/* Reset Password Page */
#password_reset_completion_phase1, #password_reset_completion_phase2 {
	text-align: left;
}

/* Forgot Password Page */
#password_reset_phase1, #password_reset_phase2 {
	text-align: left;
}

/* Login Page */
#forgot_password {
	width: 100%;
	text-align: right;
}
#forgot_password a {
	text-decoration: none;
	color: #0080C0;
}
#forgot_password a:hover {
	text-decoration: none;
	color: #0080C0;
}
#forgot_password a:active {
	text-decoration: none;
	color: #0080C0;
}
#forgot_password a:visited {
	text-decoration: none;
	color: #0080C0;
}

/* Registration Page */
#step_header, #notice {
	padding: 1px;
}

#step_header {
	color: #FFFFFF;
	text-shadow: none;
	-webkit-border-radius: 10px;
	-webkit-border-bottom-right-radius: 0;
	-webkit-border-bottom-left-radius: 0;
	-moz-border-radius: 10px;
	-moz-border-radius-bottomright: 0;
	-moz-border-radius-bottomleft: 0;
	border-radius: 10px;
	border-bottom-right-radius: 0;
	border-bottom-left-radius: 0;
}

#notice {
	text-align: right;
	padding-right: 32px;
	-webkit-border-radius: 10px;
	-webkit-border-top-right-radius: 0;
	-webkit-border-top-left-radius: 0;
	-moz-border-radius: 10px;
	-moz-border-radius-topright: 0;
	-moz-border-radius-topleft: 0;
	border-radius: 10px;
	border-top-right-radius: 0;
	border-top-left-radius: 0;
}

#notice a {
	text-decoration: none;
}
	
#notice .ui-btn {
	display: inline;
	width: inherit;
	background-color: #00B200;
	border: 0;
	color: #FFFFFF;
	text-shadow: none;
	font-weight: normal;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
}

#notice .ui-btn:hover {
	background-color: #00A900;
}
#notice .ui-btn:active {
	background-color: #00A400;
}

#fields {
	width: 100%;
	margin: auto;
	text-align: left;
}

#fields textarea {
	min-height: 7em;
}

#fields fieldset:last-of-type {
	border: 0;
}

#navigation_box {
	clear: both;
    float: left;
    margin-top: 15px;
    text-align: center;
    width: 100%;
}
#navigation_box > p {
    margin: 0;
}

#navigation_box .ui-btn {
	display: inline-block;
	font-weight: normal;
	text-shadow: none;
	width: 30%;
	border: 0;
	color: #FFFFFF;
	text-shadow: none;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
}
#navigation_box .ui-btn:first-of-type {
	background-color: #777777;
	float:right;
}
#navigation_box .ui-btn:first-of-type:hover {
	background-color: #6E6E6E;
}
#navigation_box .ui-btn:first-of-type:active {
	background-color: #696969;
}

#navigation_box .ui-btn:last-of-type {
	background-color: #00B200;
	float:left;
}
#navigation_box .ui-btn:last-of-type:hover {
	background-color: #00A900;
}
#navigation_box .ui-btn:last-of-type:active {
	background-color: #00A400;
}

/* Index Page */
#get_started {
	width: 67%;
	margin: auto;
	padding: 10px;
	box-sizing: border-box;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
}

#begin_flow {
	width: 67%;
	margin: auto;
	padding: 10px;
	box-sizing: border-box;
}
#begin_flow .ui-btn {
	width: 40%;
	margin: auto;
	font-weight: normal;
	text-shadow: none;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
}
#begin_flow a {
	text-decoration: none;
}
#begin_flow a:first-of-type .ui-btn {
	background-color: #00B200;
	color: #FFFFFF;
	border: 0;
	text-shadow: none;
}
#begin_flow a:first-of-type .ui-btn:hover {
	background-color: #00A900;
}
#begin_flow a:first-of-type .ui-btn:active {
	background-color: #00A400;
}

#begin_flow a:last-of-type .ui-btn {
	background-color: #777777;
	border: 0;
	color: #FFFFFF;
	text-shadow: none;
}
#begin_flow a:last-of-type .ui-btn:hover {
	background-color: #6E6E6E;
}
#begin_flow a:last-of-type .ui-btn:active {
	background-color: #696969;
}

/* jQuery Mobile Overrides */
html.ui-mobile, .ui-mobile body {
	height: 100%;
}

.ui-bar-a, .ui-page-theme-a .ui-bar-inherit, html .ui-bar-a .ui-bar-inherit, html .ui-body-a .ui-bar-inherit, html body .ui-group-theme-a .ui-bar-inherit {
	border-color: #00B200;
}
[data-role=header] {
	background-color: #F6F6F6;
	-webkit-box-shadow: 0px 5px 5px 0px rgba(50, 50, 50, 0.4);
	-moz-box-shadow:    0px 5px 5px 0px rgba(50, 50, 50, 0.4);
	box-shadow:         0px 5px 5px 0px rgba(50, 50, 50, 0.4);
}
[data-role=footer] {
	background-color: #00B200;
}
[data-role=header], [data-role=footer] {
	color: #FFFFFF;
	font-weight: normal;
	text-shadow: none;
}

html .ui-bar-a a {
	color: #FFFFFF;
	text-decoration: none;
}

html .ui-bar-a a:hover {
	color: #AAAAAA;
	text-decoration: none;
}

html .ui-bar-a a:active {
	color: #CCCCCC;
	text-decoration: none;
}

html .ui-bar-a a:visited {
	color: #888888;
	text-decoration: none;
}

.ui-header {
	border: 0;
}
.ui-footer {
	border: 0;
}

.ui-page-theme-a .ui-body-inherit {
	border-color: #00B200;
}

.ui-page-theme-a .ui-btn {
	background-color: #00B200;
	color: #FFFFFF;
	text-shadow: none;
	font-weight: normal;
}
.ui-page-theme-a .ui-btn:hover {
	background-color: #00A900;
	color: #FFFFFF;
	text-shadow: none;
	font-weight: normal;
}
.ui-page-theme-a .ui-btn:active {
	background-color: #00A400;
	color: #FFFFFF;
	text-shadow: none;
	font-weight: normal;
}

/* Responsive */
@media all and (max-width: 1024px) {
	/* Tablets */
	.scheduled-perk, .active-perk, .completed-perk, .scheduled-promotion, .active-promotion, .completed-promotion {
		display: block;
	}
	
	.scheduled-perk-main, .active-perk-main, .completed-perk-main, .scheduled-promotion-main, .active-promotion-main, .completed-promotion-main {
		display: block;
		float: left;
		width: 100%;
	}
	
	.scheduled-perk-side, .active-perk-side, .completed-perk-side, .scheduled-promotion-side, .active-promotion-side, .completed-promotion-side {
		display: block;
		width: 100%;
		float: left;
	}
	
	.scheduled-perk-side table, .active-perk-side table, .completed-perk-side table, .scheduled-promotion-side table, .active-promotion-side table, .completed-promotion-side table {
		width: 100%;
	}
	
	.perk-footer, .promotion-footer {
		clear: both;
	}
}
@media all and (max-width: 640px) {
	/* Phones */
	[data-role="header"] img {
		margin: 5px 0 0;
		width: 85%;
		max-width:320px;
	}
	[role="main"] {
		bottom:60px;
	}
	.content-wrapper {
		padding:1em 2em;
	}
	.content-wrapper, #get_started, #get_started, #begin_flow, #begin_flow .ui-btn, #navigation_box .ui-btn, .ui-footer.ui-bar-a.ui-footer-fixed.slideup > span, #notice .ui-btn, #account_navigation > span, #social_media, #fields, #account_navigation .ui-btn, #manage_account_navigation .ui-btn, #manage_users_navigation .ui-btn, #manage_businesses_navigation .ui-btn, #scheduled_perks_navigation .ui-btn, #active_perks_navigation .ui-btn, #completed_perks_navigation .ui-btn, #scheduled_promotions_navigation .ui-btn, #active_promotions_navigation .ui-btn, #completed_promotions_navigation .ui-btn {
		max-width:100%;
		width:100%;
	}
	#social_media p:first-of-type {
		text-align:center;
	}
	#status_message {
		margin: 0 0 10px;
		max-width: 100%;
		min-width: 100%;
		padding: 15px 0;
	}
	.hide-on-mobile {
		display:none;
	}
	#account_page thead th, #manage_account_page thead th {
		text-align:left;
	}
	#notice {
		padding: 0 30px;
		text-align: center;
	}
	[data-role=footer] {
		padding-right: 0;
		padding-left: 0;
		text-align:center;
	}
}


#account_navigation .ui-btn.grey-btn, #manage_account_navigation .ui-btn.grey-btn, #manage_users_navigation .ui-btn.grey-btn, #manage_businesses_navigation .ui-btn.grey-btn, #scheduled_perks_navigation .ui-btn.grey-btn, #active_perks_navigation .ui-btn.grey-btn, #completed_perks_navigation .ui-btn.grey-btn, #scheduled_promotions_navigation .ui-btn.grey-btn, #active_promotions_navigation .ui-btn.grey-btn, #completed_promotions_navigation .ui-btn.grey-btn {
	background:#777777;
}
#account_navigation > span {
    display: inline-block;
    width: 268px;
	margin:5px 0
}