html, body {
	font-family: Verdana;
	margin: 0;
	padding: 0;
	font-size:14px;
	font-weight:400;
}
body {
	/*background: url(/img/MetaRankBottom.png) no-repeat bottom left;*/
}

.mechart {
	height:150px;
	width: 100%;
}
.mechart2 {
	height:150px;
	width: 100%;
}
.infochart {
	padding-top:5px;
	padding-left:10px;
	border-radius:0;
	-moz-border-radius:0;
	padding-right:10px;
	margin-bottom:40px;
	margin-top:-15px !important;
}

#friends_page table {
	width: 100%;
	text-align: left;
}

#friends_page table td > div.animation-fix {
	padding-top: 22px;
	opacity: 0;
}

#friends_page table td:nth-child(3), #friends_page table td:nth-child(4) {
	text-align: right;
}
	

#mobile_menu, .slicknav_menu {
	/*display: none;*/
}

#mobile-menu {
	background:none;
	display:none;
	left:auto;
	position:absolute;
	right:0;
	z-index:10;
	box-shadow:none;
	-moz-box-shadow:none;
	-webkit-box-shadow:none;
	border:none;
	top:15px;
	padding:0;
}
#mobile-menu:hover {
	background:none;
}
#mobile-menu img {
	width:24px;
	height:24px;
}

#menu {
	border:1px solid #d3d3d3;
	background-color:#fff;
	max-width:220px;
	min-width:220px;
	width:220px;
	box-shadow: 0 0 5px rgba(0,0,0,0.15);
	-moz-box-shadow: 0 0 5px rgba(0,0,0,0.15);
	-webkit-box-shadow: 0 0 5px rgba(0,0,0,0.15);
	margin:10px 0 0;
	float:left;
}

#menu h2 {
	margin: 0;
	background:rgba(238, 238, 238, 0.74902);
	padding:10px;
	border-bottom:2px solid #222;
}
#menu h3 {
	font-size: 15px;
	color: #FFFFFF;
	margin: 0;
	background:#079407;
	padding:8px;
}

#menu div {
	text-align: left;
	font-weight: normal!important;
}
#menu div .left, #menu div .right {
	display:inline-block;
	width:48.5%;
	text-align:center;
	font-size:18px;
	padding:10px 0;
}
#menu div .right {
	color:#079407;
}
#menu div .left strong, #menu div .right strong, 
#menu div .left span, #menu div .right span {
	display:block;
}
#menu div .left strong, #menu div .right strong{
	font-size:36px;
}

#menu div a {
	color: #555;
    display: block;
    font-size: 14px;
    font-weight: normal;
    padding: 10px;
    text-decoration: none;
    text-indent: 25px;
}

#menu div.active > a, #menu div:hover > a {
	background: #f3f3f3;
}

#content_column {
	float:right;
	margin:10px 0 0 15px;
	max-width:660px;
	width:660px;
	height:100%;
}

#content_column a, #login_page a {
	text-decoration: none;
}

.superscript {
	vertical-align: super;
	font-size: .8em;
}

.bold {
	font-weight: bold;
}

.rank-result-label, .rank-result {
	font-size: 16px;
	font-weight: bold;
}

.rank-result-label, .settings-label {
	position: relative;
}

.settings-label {
	text-align: left;
}

.rank-result, .settings-value {
	position: absolute;
	right: 5px;
	text-indent:0;
}

.rank-result {
	color: #FF9900;
}

.participants-number-label, .participants-number, .score-number-label, .score-number {
	font-size: 13px;
	font-weight: bold;
}

.participants-number-label, .score-number-label {
	position: relative;
}

.participants-number, .score-number {
	position: absolute;
	right: 18px;
	text-indent:0;
}

.participants-number {
	color: #33CC00;
}

.score-number {
	color: #509FE9;
}

.top-left {
	position: absolute;
	top: 0;
	left: 0;
}

.content-wrapper .top-left {
	/*top: 1em;
	left: 3em;*/
}

.bottom-right {
	position: absolute;
	right: 0;
	bottom: 0;
}

.top-right {
	position: absolute;
	top: 0;
	right: 0;
}

.left {
	text-align: left;
}

.valign-center-wrap {
	border-spacing:10px 0;
	/*display:table;*/
	margin:0 -10px;
}

.valign-center {
	display: table-cell;
	vertical-align: middle;	
}

.top-box {
	background-color: #fff; /*rgba(238, 238, 238, 0.75);*/
	width: 15%;
	height: 65px;
	border: 1px solid #CCCCCC;
	box-shadow: 0 0 5px rgba(0,0,0,0.15);
	-moz-box-shadow: 0 0 5px rgba(0,0,0,0.15);
	-webkit-box-shadow: 0 0 5px rgba(0,0,0,0.15);
}

.top-box:first-of-type {
	margin-left: 0;
}

.content-box {
	background-color: #fff; /*rgba(238, 238, 238, .75);*/
	float: left;
	opacity: 0;
	position: relative;
	box-sizing: border-box;
	margin-top: 10px !important;
	width: 100%;
	padding: 8px 8px 0 8px;
	border: 1px solid #CCCCCC;
	box-shadow: 0 0 5px rgba(0,0,0,0.15);
	-moz-box-shadow: 0 0 5px rgba(0,0,0,0.15);
	-webkit-box-shadow: 0 0 5px rgba(0,0,0,0.15);
}

.content-box > .rank-result-label, .content-box > .participants-number-label {
	text-indent:40%;
	margin-bottom:10px;
	text-align:left;
}
.content-box > .larger-message {
	margin-bottom:10px;
}
.content-box > .participants-number-label {
	font-weight:400;
}

.content-box p {
	margin-top: 0;
}

.content-box .bottom-right {
	right: 8px;
}

.content-box .top-right {
	top: 8px;
	right: 8px;
}

.user-image, .image_picker_image {
	margin: 0;
	padding: 0;
	width: 40px;
	height: 40px;
}

.service-image {
	max-width: 50%;
    min-width: 50px;
    width: 50%;
}

.user-name, .meta-score-label {
	margin: 0;
	font-size: 12px;
}

p.meta-score {
	margin: auto;
	color: #509FE9;
	font-size: 15px;
	font-weight: bold;
}

img.facebook-share {
	height: 20px;
}

.leaderboard, .friend-leaderboard {
	width: 100%;
	border-collapse: collapse;
	border: 1px solid #FF9900;
	margin-bottom: 1em;
}

.leaderboard tr.selected, .friend-leaderboard tr.selected {
	background-color: #FF9900;
	color:#fff;
}

.leaderboard td, .friend-leaderboard td {
	vertical-align: middle;
	padding: 0 2px 0 2px;
}

.leaderboard td:first-child {
	width: 10%;
}

.leaderboard td:nth-child(2) {
	width: 30%;
	text-align: center;
}

.leaderboard td:nth-child(3) {
	width: 15%;
}

.leaderboard td:nth-child(3) img {
	width: 12px;
	height: 16px;
	vertical-align: middle;
}

.leaderboard td:last-child {
	width: 50%;
	text-align: left;
}

.friend-leaderboard td:first-child img {
	margin: 0;
	padding: 0;
	width: 40px;
	height: 40px;
	vertical-align: middle;
}

.friend-leaderboard td:nth-child(2) {
	width: 50%;
}

.friend-leaderboard td:nth-child(3) {
	width: 10%;
}

.friend-leaderboard td:last-child {
	width: 30%;
	text-align: center;
}

.leaderboard thead td, .friend-leaderboard thead td {
	border: 1px solid #FF9900;
	text-align: center !important;
}

.details {
	width: 100%;
	border-collapse: collapse;
	margin-bottom:8px;
}

.details p {
	margin-bottom: 6px;
}

.details td {
	vertical-align: middle;
	padding: 6px 2px 0 2px;
}

.details tr:first-child td {
	padding-top: 0;
}

.details td:first-child {
	vertical-align: top;
	width: 35%;
	text-align: left;
}

.details td:nth-child(2) {
	width: 20%;
	text-align: right;
}

.details td:last-child {
	width: 40%;
	text-align: right;
}

.details tr:last-child td:nth-child(2), .details tr:last-child td:last-child {
	border-top: 2px solid #CCCCCC;
}

.service-details {
	width: 100%;
	margin-bottom: 1em;
}

.service-details td {
	vertical-align: middle;
	padding: 6px 2px 0 2px;
}

.service-details tr:first-child td {
	padding-top: 0;
}

.service-details td:first-child {
	width: 50%;
	text-align: left;
}

.service-details td:last-child {
	color: #509FE9;
	width: 50%;
	text-align: right;
}

.meta-logotext {
	color: #00B200;
	font-weight: bold;
}
.rank-logotext {
	color: #000000;
	font-weight: bold;
}

.black-text {
	color: #000000;
}

.orange-text {
	color: #FF7F00;
}

.larger-message {
	font-size: 1.1em;
}

.smaller-message {
	font-size: .9em;
}

.grey-box {
	border: 1px solid #CCCCCC;
	background-color: rgba(238, 238, 238, .75);
	margin: 15px auto 0;
	padding-left: 1.5em;
	padding-right: 1.5em;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
}

.green-box {
	background-color: #00B200;
	margin: 0;
	padding-left: 1.5em;
	padding-right: 1.5em;
}

.green-header {
	background-color: #00B200;
	margin: 0;
	padding-left: 1.5em;
	padding-right: 1.5em;
	color: #FFFFFF;
	text-shadow: none;
	padding: 1px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
}

.perk-header, .promotion-header {
	background-color: #00B200;
	margin: 0;
	padding-left: 1.5em;
	padding-right: 1.5em;
	color: #FFFFFF;
	text-shadow: none;
	padding: 1px;
	-webkit-border-top-left-radius: 10px;
	-webkit-border-top-right-radius: 10px;
	-moz-border-radius-topleft: 10px;
	-moz-border-radius-topright: 10px;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
}

.perk-footer, .promotion-footer {
	background-color: #00B200;
	margin: 0;
	padding: 1px 1em 1px 1px;
	color: #FFFFFF;
	text-shadow: none;
	
	-webkit-border-bottom-right-radius: 10px;
	-webkit-border-bottom-left-radius: 10px;
	-moz-border-radius-bottomright: 10px;
	-moz-border-radius-bottomleft: 10px;
	border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px;
	text-align: right;
}

.by-line {
	margin-top: 4px;
	font-style: italic;
	font-size: small;
}

.scheduled-perk, .active-perk, .completed-perk, .scheduled-promotion, .active-promotion, .completed-promotion {
	display: table;
	width: 100%;
}

.scheduled-perk table th, .active-perk table th, .completed-perk table th, .scheduled-promotion table th, .active-promotion table th, .completed-promotion table th {
	text-align: left;
	vertical-align: top;
}

.scheduled-perk table td, .active-perk table td, .completed-perk table td, .scheduled-promotion table td, .active-promotion table td, .completed-promotion table td {
	text-align: right;
}

.scheduled-perk-main, .active-perk-main, .completed-perk-main, .scheduled-promotion-main, .active-promotion-main, .completed-promotion-main {
	width: 100%;
}

.scheduled-perk-side, .active-perk-side, .completed-perk-side, .scheduled-promotion-side, .active-promotion-side, .completed-promotion-side {
	width: 10em;
	white-space: nowrap;
}

.scheduled-perk-main, .scheduled-perk-side, .active-perk-main, .active-perk-side, .completed-perk-main, .completed-perk-side, .scheduled-promotion-main, .scheduled-promotion-side, .active-promotion-main, .active-promotion-side, .completed-promotion-main, .completed-promotion-side {
	display: table-cell;
	text-align: left;
	vertical-align: top;
}

.or-bubble {
	position: relative;
	text-align: center;
}

.or-bubble span {
	position: relative;
	bottom: -1em;
	display: inline-block;
	padding: 8px;
	background-color: #FF7F00;
	color: #FFFFFF;
	border-radius: 50%;
}

[data-role=header] {
	text-align: center;
}
[data-role=header] .content-wrapper > .logo {
	width: 250px;
}
[data-role=page] {
	background-color: transparent;
}

[data-role=footer] {
	box-sizing: border-box;
    font-size: 0.9em;
    line-height: 1.5;
    padding: 5px 15%;
	margin-top:10px;
}

[data-role=main] {
	padding: 1.5em 1em;
}

.content-wrapper {
	position: relative;
	margin: 0 auto;
	max-width: 100%;
	width:900px;
	color: #888888;
	text-align: center;
	box-sizing: border-box;
	margin-top: 0;
	margin-bottom: 0;
	min-height: 100%;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
}

[data-role=footer] span:last-child {
	display: inline-block;
	float: right;
	color:#fff;
}

.msform {
	text-align: left;
}

.ui-mobile fieldset:first-of-type {
	margin-top: 1em;
	border-top: 1px solid #888888;
	border-bottom: 1px solid #888888;
	margin-bottom: 1em;
	padding: 1em 0 1em 0;
}
.ui-mobile fieldset {
	border-bottom: 1px solid #888888;
	margin-bottom: 1em;
	padding: 1em 0 1em 0;
}

.bolded {
	font-weight: bold;
}

#status_message {
	margin: auto;
	min-width: 50%;
	max-width: 75%;
	clear:both;
}

.info, .success, .warning, .error, .validation {
	border: 1px solid;
	margin: 10px 0px;
	padding:15px 10px 15px 50px;
	text-shadow: none;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
}
.info {
	color: #00529B;
	background-color: #BDE5F8;
}
.success {
	color: #4F8A10;
	background-color: #DFF2BF;
}
.warning {
	color: #9F6000;
	background-color: #FEEFB3;
}
.error {
	color: #D8000C;
	background-color: #FFBABA;
}

#businesses {
	overflow-y: auto;
	max-height: 176px;
}

/* Login Page */
#login_form {
	text-align: left;
}

#recaptcha_area, #recaptcha_table {
	margin: auto !important;
}

/* Account Page */
#account_page table, #manage_account_page table {
	display: inline-block;
	text-align: left;
}

#account_page thead th, #manage_account_page thead th {
	text-align: center;
}

#account_navigation a,
#manage_account_navigation a,
#manage_users_navigation a,
#manage_businesses_navigation a,
#scheduled_perks_navigation a,
#active_perks_navigation a,
#completed_perks_navigation a,
#scheduled_promotions_navigation a,
#active_promotions_navigation a,
#completed_promotions_navigation a,
td a {
	text-decoration: none;
}

#account_navigation .ui-btn,
#manage_account_navigation .ui-btn,
#manage_users_navigation .ui-btn,
#manage_businesses_navigation .ui-btn,
#scheduled_perks_navigation .ui-btn,
#active_perks_navigation .ui-btn,
#completed_perks_navigation .ui-btn,
#scheduled_promotions_navigation .ui-btn,
#active_promotions_navigation .ui-btn,
#completed_promotions_navigation .ui-btn {
	display: inline-block;
	width: 268px;
	margin: auto;
	background-color: #00B200;
	border: 0;
	color: #FFFFFF;
	text-shadow: none;
	font-weight: normal;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
}

td.ui-btn {
	display: inline-block;
	margin: auto;
	background-color: #00B200;
	border: 0;
	color: #FFFFFF;
	text-shadow: none;
	font-weight: normal;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
}

#account_navigation .ui-btn:hover,
#manage_account_navigation .ui-btn:hover,
#manage_users_navigation .ui-btn:hover,
#manage_businesses_navigation .ui-btn:hover,
#scheduled_perks_navigation .ui-btn:hover,
#active_perks_navigation .ui-btn:hover,
#completed_perks_navigation .ui-btn:hover,
#scheduled_promotions_navigation .ui-btn:hover,
#active_promotions_navigation .ui-btn:hover,
#completed_promotions_navigation .ui-btn:hover,
td .ui-btn:hover {
	background-color: #00A900;
}

#account_navigation .ui-btn:active,
#manage_account_navigation .ui-btn:active,
#manage_users_navigation .ui-btn:active,
#manage_businesses_navigation .ui-btn:active,
#scheduled_perks_navigation .ui-btn:active,
#active_perks_navigation .ui-btn:active,
#completed_perks_navigation .ui-btn:active,
#scheduled_promotions_navigation .ui-btn:active,
#active_promotions_navigation .ui-btn:active,
#completed_promotions_navigation .ui-btn:active,
td .ui-btn:active {
	background-color: #00A400;
}

#account_navigation a:last-of-type .ui-btn,
#manage_account_navigation a:last-of-type .ui-btn,
#manage_users_navigation a:last-of-type .ui-btn,
#manage_businesses_navigation a:last-of-type .ui-btn,
#scheduled_perks_navigation a:last-of-type .ui-btn,
#active_perks_navigation a:last-of-type .ui-btn,
#completed_perks_navigation a:last-of-type .ui-btn,
#scheduled_promotions_navigation a:last-of-type .ui-btn,
#active_promotions_navigation a:last-of-type .ui-btn,
#completed_promotions_navigation a:last-of-type .ui-btn {
	background-color: #777777;
}

#account_navigation a:last-of-type .ui-btn:hover,
#manage_account_navigation a:last-of-type .ui-btn:hover,
#manage_users_navigation a:last-of-type .ui-btn:hover,
#manage_businesses_navigation a:last-of-type .ui-btn:hover,
#scheduled_perks_navigation a:last-of-type .ui-btn:hover,
#active_perks_navigation a:last-of-type .ui-btn:hover,
#completed_perks_navigation a:last-of-type .ui-btn:hover,
#scheduled_promotions_navigation a:last-of-type .ui-btn:hover,
#active_promotions_navigation a:last-of-type .ui-btn:hover,
#completed_promotions_navigation a:last-of-type .ui-btn:hover {
	background-color: #6E6E6E;
}

#account_navigation a:last-of-type .ui-btn:active,
#manage_account_navigation a:last-of-type .ui-btn:active,
#manage_users_navigation a:last-of-type .ui-btn:active,
#manage_businesses_navigation a:last-of-type .ui-btn:active,
#scheduled_perks_navigation a:last-of-type .ui-btn:active,
#active_perks_navigation a:last-of-type .ui-btn:active,
#completed_perks_navigation a:last-of-type .ui-btn:active,
#scheduled_promotions_navigation a:last-of-type .ui-btn:active,
#active_promotions_navigation a:last-of-type .ui-btn:active,
#completed_promotions_navigation a:last-of-type .ui-btn:active {
	background-color: #696969;
}

#social_media {
	border-top: 2px solid #000000;
	width: 320px;
	margin: auto;
}
#social_media p {
	font-style: italic;
	font-weight: bold;
	color: #000000;
}

#social_media p:first-of-type {
	text-align: left;
}

#social_media p:last-of-type {
	text-align: center;
}

/* Reset Password Page */
#password_reset_completion_phase1, #password_reset_completion_phase2 {
	text-align: left;
}

/* Forgot Password Page */
#password_reset_phase1, #password_reset_phase2 {
	text-align: left;
}

/* Login Page */
#forgot_password {
	width: 100%;
	text-align: right;
}
#forgot_password a {
	text-decoration: none;
	color: #0080C0;
}
#forgot_password a:hover {
	text-decoration: none;
	color: #0080C0;
}
#forgot_password a:active {
	text-decoration: none;
	color: #0080C0;
}
#forgot_password a:visited {
	text-decoration: none;
	color: #0080C0;
}

/* Registration Page */
#step_header, #notice {
	padding: 1px;
}

#step_header {
	color: #FFFFFF;
	text-shadow: none;
	-webkit-border-radius: 10px;
	-webkit-border-bottom-right-radius: 0;
	-webkit-border-bottom-left-radius: 0;
	-moz-border-radius: 10px;
	-moz-border-radius-bottomright: 0;
	-moz-border-radius-bottomleft: 0;
	border-radius: 10px;
	border-bottom-right-radius: 0;
	border-bottom-left-radius: 0;
	margin-top:15px;
}

#notice {
	margin-top:0;
	text-align: right;
	padding-right: 32px;
	-webkit-border-radius: 10px;
	-webkit-border-top-right-radius: 0;
	-webkit-border-top-left-radius: 0;
	-moz-border-radius: 10px;
	-moz-border-radius-topright: 0;
	-moz-border-radius-topleft: 0;
	border-radius: 10px;
	border-top-right-radius: 0;
	border-top-left-radius: 0;
}

#notice a {
	text-decoration: none;
}
	
#notice .ui-btn {
	display: inline;
	width: inherit;
	background-color: #00B200;
	border: 0;
	color: #FFFFFF;
	text-shadow: none;
	font-weight: normal;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
}

#notice .ui-btn:hover {
	background-color: #00A900;
}
#notice .ui-btn:active {
	background-color: #00A400;
}

#fields {
	width: 90%;
	margin: auto;
	text-align: left;
}

#fields textarea {
	min-height: 7em;
}

#fields fieldset:last-of-type {
	border: 0;
}

#navigation_box {
	clear: both;
    float: left;
    margin-top: 15px;
    text-align: center;
    width: 100%;
}

#navigation_box .ui-btn {
	display: inline-block;
	font-weight: normal;
	text-shadow: none;
	width: 30%;
	border: 0;
	color: #FFFFFF;
	text-shadow: none;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
}
#navigation_box .ui-btn:first-of-type {
	background-color: #777777;
	float:right;
}
#navigation_box .ui-btn:first-of-type:hover {
	background-color: #6E6E6E;
}
#navigation_box .ui-btn:first-of-type:active {
	background-color: #696969;
}

#navigation_box .ui-btn:last-of-type {
	background-color: #00B200;
	float:left;
}
#navigation_box .ui-btn:last-of-type:hover {
	background-color: #00A900;
}
#navigation_box .ui-btn:last-of-type:active {
	background-color: #00A400;
}

/* Index Page */
#get_started {
	width: 67%;
	margin: 15px auto;
	padding: 10px;
	box-sizing: border-box;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
}

#begin_flow {
	width: 67%;
	margin: auto;
	padding: 10px;
	box-sizing: border-box;
}
#begin_flow .ui-btn {
	width: 40%;
	margin: auto;
	font-weight: normal;
	text-shadow: none;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
}
#begin_flow a {
	text-decoration: none;
}
#begin_flow a:first-of-type .ui-btn {
	background-color: #00B200;
	color: #FFFFFF;
	border: 0;
	text-shadow: none;
}
#begin_flow a:first-of-type .ui-btn:hover {
	background-color: #00A900;
}
#begin_flow a:first-of-type .ui-btn:active {
	background-color: #00A400;
}

#begin_flow a:last-of-type .ui-btn {
	background-color: #777777;
	border: 0;
	color: #FFFFFF;
	text-shadow: none;
}
#begin_flow a:last-of-type .ui-btn:hover {
	background-color: #6E6E6E;
}
#begin_flow a:last-of-type .ui-btn:active {
	background-color: #696969;
}

/* jQuery Mobile Overrides */
html.ui-mobile, .ui-mobile body {
	/*height: 100%;*/
}

.ui-bar-a, .ui-page-theme-a .ui-bar-inherit, html .ui-bar-a .ui-bar-inherit, html .ui-body-a .ui-bar-inherit, html body .ui-group-theme-a .ui-bar-inherit {
	border-color: #00B200;
}
[data-role=header] {
	border:1px solid #cccccc;
	background-color: #F6F6F6;
	-webkit-box-shadow: rgba(0, 0, 0, 0.20) 0 3px 10px 0;
	-moz-box-shadow:    rgba(0, 0, 0, 0.20) 0 3px 10px 0;
	box-shadow:         rgba(0, 0, 0, 0.20) 0 3px 10px 0;
	padding: 5px 0 10px;
}
[data-role="page"] {
	min-height:400px;
}
[data-role=footer] {
	background-color: #00B200;
}
[data-role=footer] .content-wrapper {
	text-align:left;
}
[data-role=footer] .content-wrapper span, [data-role=footer] .content-wrapper span a {
    color: #fff;
	text-decoration:none;
}
[data-role=header], [data-role=footer] {
	color: #FFFFFF;
	font-weight: normal;
	text-shadow: none;
}

html .ui-bar-a a {
	color: #FFFFFF;
	text-decoration: none;
}

html .ui-bar-a a:hover {
	color: #AAAAAA;
	text-decoration: none;
}

html .ui-bar-a a:active {
	color: #CCCCCC;
	text-decoration: none;
}

html .ui-bar-a a:visited {
	color: #888888;
	text-decoration: none;
}

.ui-header {
	border: 0;
	padding:5px 20px 10px;
}
.ui-footer {
	border: 0;
	padding:10px 20px;
}

.ui-page-theme-a .ui-body-inherit {
	border-color: #00B200;
}

.ui-page-theme-a .ui-btn {
	background-color: #00B200;
	color: #FFFFFF;
	text-shadow: none;
	font-weight: normal;
}
.ui-page-theme-a .ui-btn:hover {
	background-color: #00A900;
	color: #FFFFFF;
	text-shadow: none;
	font-weight: normal;
}
.ui-page-theme-a .ui-btn:active {
	background-color: #00A400;
	color: #FFFFFF;
	text-shadow: none;
	font-weight: normal;
}

.IN-widget {
	vertical-align: bottom !important;
	height: 20px;
}

.twitter-tweet-button, .facebook-share {
	vertical-align: bottom;
}

[data-role=footer] span a, [data-role=footer] span a:visited {
	color:#fff;
}

.jqplot-axis {
	font-size:11px;
}
.jqplot-yaxis {
	left:-10px !important;
} 
.jqplot-xaxis {
	bottom:-10px !important;
}

#mobile_menu > .ui-panel-inner {
	padding:0;
}
#mobile_menu h3 {
	background: #079407;
    color: #ffffff;
    font-size: 15px;
    margin: 0;
    padding: 8px;
	text-align:center;
}#mobile_menu ul {
	display:block;
	margin:0;
	padding:0;
	list-style:none;
}#mobile_menu ul li {
	font-weight: normal;
    text-align: left;
}#mobile_menu ul li a {
	color: #555;
    display: block;
    font-size: 14px;
    font-weight: normal;
    padding: 10px;
    text-decoration: none;
    text-indent: 25px;
}#mobile_menu ul li:hover, #mobile_menu ul li.active {
	background: #f3f3f3;
	box-shadow:10px 0 10px -5px rgba(0,0,0,0.20) inset;
	-moz-box-shadow:10px 0 10px -5px rgba(0,0,0,0.20) inset;
	-webkit-box-shadow:10px 0 10px -5px rgba(0,0,0,0.20) inset;
}


.new_login {
	margin:0 auto;
	width:30%;
}

.signup-sec {
    border-bottom: 1px solid #ccc;
    float: left;
    margin-bottom: 15px;
    text-align: right;
    width: 100%;
	clear:both;
}
.signup-sec .ui-link {
	float:right;
	width:250px;
}
.signup-sec > span {
    display: inline-block;
    margin: 20px 15px 0 0;
}



.btn {
	display: inline-block;
	padding: 6px 12px;
	margin-bottom: 0;
	font-size: 14px;
	font-weight: normal;
	line-height: 1.42857143;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	-ms-touch-action: manipulation;
	touch-action: manipulation;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	background-image: none;
	border: 1px solid transparent;
	border-radius: 4px;
}
.btn:focus,
.btn:active:focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn.active.focus {
	outline: thin dotted;
	outline: 5px auto -webkit-focus-ring-color;
	outline-offset: -2px;
}
.btn:hover,
.btn:focus,
.btn.focus {
	color: #333;
	text-decoration: none;
}
.btn:active,
.btn.active {
	background-image: none;
	outline: 0;
	-webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
	box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
}


.azm-social {
	margin: 0;
	padding: 0;
	display: inline-block;
	color: #fff !important;
	text-align: left;
	-moz-border-radius: 0; -webkit-border-radius: 0; border-radius: 0;
	-o-transition: all .3s; -moz-transition: all .3s; -webkit-transition: all .3s; -ms-transition: all .3s; transition: all .3s;
}
.azm-social:hover, .azm-social:focus, .azm-social:active { outline: 0; opacity: 0.8; color: #fff; }


.azm-btn {
	margin: 0;
	padding: 13px 17px;
	font-size: 14px !important;
	line-height: 21px;
	font-weight: 300 !important;
	-moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px;
	text-decoration:none;
	min-width:200px;
	text-shadow: none;
}
.azm-btn i {
	padding-right: 27px;
	font-size: 21px;
	line-height: 21px;
	text-align: center;
    vertical-align: top;
    width: 25px;
}

.azm-btn i:after {
	content: "";
	position: absolute;
	top: -8px;
	left: 70%;
	width: 1px;
	height: 40px;
	background: #ccc;
	background: rgba(255, 255, 255, 0.3);
}

.azm-border-bottom {
	padding-top: 12px;
	border-bottom: 4px solid rgba(0, 0, 0, 0.1);
}

.azm-email-2 { background: #35c7ed; }
.azm-facebook { background: #4862a3; }
.azm-linkedin { background: #0177b5; }
.azm-twitter { background: #55acee; }


@font-face {
	font-family: 'FontAwesome';
	src: url('../lib/font-awesome/fonts/fontawesome-webfont.eot?v=4.3.0');
	src: url('../lib/font-awesome/fonts/fontawesome-webfont.eot?#iefix&v=4.3.0') format('embedded-opentype'), 
		 url('../lib/font-awesome/fonts/fontawesome-webfont.woff2?v=4.3.0') format('woff2'), 
		 url('../lib/font-awesome/fonts/fontawesome-webfont.woff?v=4.3.0') format('woff'), 
		 url('../lib/font-awesome/fonts/fontawesome-webfont.ttf?v=4.3.0') format('truetype'), 
		 url('../lib/font-awesome/fonts/fontawesome-webfont.svg?v=4.3.0#fontawesomeregular') format('svg');
	font-weight: normal;
	font-style: normal;
}
.fa {
	display: inline-block;
	font: normal normal normal 14px/1 FontAwesome;
	font-size: inherit;
	text-rendering: auto;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	transform: translate(0, 0);
}

.fa-facebook-f:before,
.fa-facebook:before {
	content: "\f09a";
}
.fa-twitter:before {
	content: "\f099";
}
.fa-linkedin:before {
	content: "\f0e1";
}
.fa-envelope:before {
	content: "\f0e0";
}

/* Responsive */
@media all and (max-width: 1280px) {
	
}

@media all and (max-width: 1024px) {
	/* Tablets */
	[data-role=header] > .content-wrapper {
		text-align:left;
	}
	[data-role="header"] > .content-wrapper > .logo {
		margin: 5px 0 0;
		width: 230px;
	}
	#mobile-menu {
		display:block;
	}
	#menu {
		display: none;
	}
	.content-wrapper {
		width:660px;
	}
	.scheduled-perk, .active-perk, .completed-perk, .scheduled-promotion, .active-promotion, .completed-promotion {
		display: block;
	}	
	.scheduled-perk-main, .active-perk-main, .completed-perk-main, .scheduled-promotion-main, .active-promotion-main, .completed-promotion-main {
		display: block;
		float: left;
		width: 100%;
	}	
	.scheduled-perk-side, .active-perk-side, .completed-perk-side, .scheduled-promotion-side, .active-promotion-side, .completed-promotion-side {
		display: block;
		width: 100%;
		float: left;
	}	
	.scheduled-perk-side table, .active-perk-side table, .completed-perk-side table, .scheduled-promotion-side table, .active-promotion-side table, .completed-promotion-side table {
		width: 100%;
	}	
	.perk-footer, .promotion-footer {
		clear: both;
	}	
	#content_column {
		margin:0 auto;
		width:100%;
	}
	[data-role=footer] span {
		display:inline-block;
		width:50%
	}
	[data-role=footer] span:last-child {
		text-align:right;
	}
	
	.larger-message {
		font-size: 1em;
	}
	.smaller-message {
		font-size: 0.8em;
	}
	.rank-result-label, .rank-result {
		font-size:15px;
	}
	.new_login {
		width:50%;
	}
	
	.signup-sec .ui-link {
		float:right;
		width:200px;
	}
	.signup-sec > span {
		display: inline-block;
		margin: 20px 15px 0 0;
	}
}
@media all and (max-width: 641px) {
	/* Phones */
	[data-role=header] > .content-wrapper {
		text-align:left;
	}
	[data-role="header"] > .content-wrapper > .logo {
		margin: 5px 0 0;
		width: 200px;
	}
	#mobile-menu {
		display:block;
	}
	#menu {
		display: none;
	}
	.content-wrapper {
		width:100%;
	}
	.content-wrapper, #get_started, #get_started, #begin_flow, #begin_flow .ui-btn, #navigation_box .ui-btn, .ui-footer.ui-bar-a.ui-footer-fixed.slideup > span, #notice .ui-btn, #account_navigation > span, #social_media, #fields, #account_navigation .ui-btn, #manage_account_navigation .ui-btn, #manage_users_navigation .ui-btn, #manage_businesses_navigation .ui-btn, #scheduled_perks_navigation .ui-btn, #active_perks_navigation .ui-btn, #completed_perks_navigation .ui-btn, #scheduled_promotions_navigation .ui-btn, #active_promotions_navigation .ui-btn, #completed_promotions_navigation .ui-btn {
		max-width:100%;
		width:100%;
	}
	#begin_flow {
		padding:0;
	}
	#social_media p:first-of-type {
		text-align:center;
	}
	#status_message {
		margin: 0 0 10px;
		max-width: 100%;
		min-width: 100%;
		padding: 15px 0;
	}
	.hide-on-mobile {
		display:none;
	}
	#account_page thead th, #manage_account_page thead th {
		text-align:left;
	}
	#notice {
		padding: 0 30px;
		text-align: center;
	}
	[data-role=footer] {
		padding-right: 0;
		padding-left: 0;
		text-align:center;
		height:60px;
	}
	[data-role=footer] span {
		display:block;
		width:100%;
		text-align:center;
	}
	[data-role=footer] span:last-child {
		text-align:center;
	}
	#content_column {
		margin:0 auto;
		width:100%;
	}
	
	.larger-message {
		font-size: 0.9em;
	}
	.smaller-message {
		font-size: 0.7em;
	}
	.rank-result-label, .rank-result {
		font-size:14px;
	}
	.new_login {
		width:100%;
	}
	
	.signup-sec {
		text-align: center;
	}
	.signup-sec .ui-link {
		float:none;
		width:100%;
	}
	.signup-sec > span {
		display: block;
		margin: 0 0 15px 0;
	}

}